{% load staticfiles %}

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}" />
	<meta charset="utf-8" />
    <title></title>
</head>
<body>
	<div><a id="account-redirect" href="{% url 'blog:index' %}">Back to home.</a></div>
	
	{% if forms.errors %}
	<p>Your username and password didn't match. Please try again.</p>
	{% endif %}

	<form action="{% url 'blog:login' %}" method="post" accept-charset="utf-8">
		{% csrf_token %}
		<div class="account-page">
			{% for field in form %}
			<label>{{ field.label }}</label>
			{% if field.errors %}
			{{ field.errors }}
			{% endif %}
			{{ field }}
			<br />
			{% endfor %}
			<input type="hidden" name="next" value="{{ next }}" />
			<input class="button small" type="submit" value="Submit" />
		</div>
	</form>
</body>
</html>